.mid-pwd{
    width: 218px;
    padding-top: 74px;
    padding-bottom: 74px;
    margin: 0px auto;
    text-align: center;
}
.mid-pwd > a{
    display: inline-block;
    margin-bottom: 37px;
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #fff;
}
.pwd-form input{
    height: 40px;
    border:0px;
    outline: none;
    width: 218px;
    border-bottom: 1px solid #3a505e;
    margin-top: 9px;
    background-color: transparent;
    letter-spacing: .8px;
    border-radius: 0px;
}
.pwd-form button{
    border: 0px;
    outline: none;
    margin-top: 30px;
    width: 94px;
    height: 30px;
    border-radius: 14.5px;
    background-color: #00b1ff;
    box-shadow: 0 5px 9px 0 rgba(0, 177, 255, 0.39);
}