.bd-query-detail {
    position: relative;
    height: 630px;
    border-radius: 8px;
    background-color: #0d1f29;
    box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.29);
}

.bd-content-button{
    background-color: #11242e;
}

.bd-content-button .right{
    width: 100%;
    padding-right: 0px;
}

#bd-query-graph {
    width: 100%;
    height: 400px;
    color: #cbe3ff;
    margin-top: 50px;
}
#bd-query-graph .left{
    width: 79.3%;
    height: 400px;
    float: left;
}
#bd-query-graph .right{
    width: 20.7%;
    height: 400px;
    float: right;
    position: relative;
    text-align: center;
}
#bd-query-graph .right >span{
    display: inline-block;
    top: 50%;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    position: relative;
}
#bd-query-graph .right ul{

    margin-bottom: 36px;
    letter-spacing: 1.9px;
    text-align: left;
}
#bd-query-graph .right ul li{
    line-height: 29px;
    height: 29px;
    font-size: 12px;
}
#bd-query-graph .right ul li:nth-child(2){
    color: #00b1ff;
    font-size: 15px;
}
#bd-query-graph .right  ul:nth-child(1){
    margin-top: 14px;
}
.splitHr{
    margin-top: 70px;
    height: 2px;
    border:none;
    border-top:2px solid #273a46;
}
.bd-report-search em {
    margin-right: 5px;
}
.bd-report-search .show-arrow{
    right: 5px;
}

.bd-report-search .show-arrow {
    position: static;
    top: 0;
    right: 0;
    float: none;
    margin-left: 6px;
    margin-right: 10px;
}
.bd-nav-menu {
    padding-left: 35px;
    padding-right: 35px;
}
.bd-nav-menu .nav-menu-childs div{
    width: 90px;
    margin-right: 25px;
}